
.top{
 
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Portraits/6.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.navbar{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-attachment: fixed;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    display: inline;
    float: left;
    padding: 55px;

}
h2{
    color: white;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.dropdown a:hover{
    color: white;

}
.dropdown ul {
    background: transparent;
}
.dropdown ul li{
    padding:0;
    background-color: transparent;
    
}
.dropdown ul li a:hover{
    background: transparent;
}


.animate__animated.animate__rubberBand {
    --animate-duration: 2s;
  }
  input{
      width: 300px;
      border-radius: 50px;
      height: 70px;
      background-color: transparent;
      border:1px solid white;
     
  }
  input::placeholder{
      color: black;
      padding: 25px;
  }
 
  .footer ul
  {
    list-style-type: bullets;
    ;
  } 
  .footer ul li a{
    text-decoration: none;
    color: white;
    

  }
  .links ul li{
    float:left;
    padding: 25px;
    margin-top: -10%;
    margin-left: 2%;
  }
.text-center p{
  margin-top: -3%;
}
.icon-bar a{
text-decoration: none;
color: white;
padding: 12px;
border: 1px solid white;
border-radius: 25px;
margin: 2%;

}
  @media screen and (max-width: 600px) {
    .navbar ul li{
      width: 100%;
      padding: 5px;
    }
    .footer .col-3{
        width: 100%;
        
    }
    .footer .links ul li{
        width: 100%;
    }

  }